<!doctype html>
<html lang="en">
  <head>
    <title>Catalog App</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link rel=stylesheet type=text/css href="{{url_for('static', filename='style.css')}}">
  </head>
  <body>
    <div class="container">
      <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="/">Catalog App</a>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            {% if not session.logged_in %}
              <a class="nav-link" href="{{url_for('showLogin')}}">Login</a>
            {% else %}
              Welcome,{{session.username}} <a class="nav-link" href="{{url_for('oauthDisconnect')}}">Logout</a>
            {% endif %}
          </li>
        </ul>
      </nav>
      <div class="jumbotron">
        <h1 class="display-5">{% if categoryName != 'default' %}Category: {{categoryName}}{%endif%}</h1>
        <h1 class="display-4">New Item</h1>
        <form action="{{url_for('newCategoryItem',categoryName=categoryName)}}" method="POST">
          <div class="form-group">
            <label for="itemName">Name</label>
            <input type="text" class="form-control" name="name" id="itemName" aria-describedby="itemName" placeholder="Enter Name">
          </div>
          <div class="form-group">
            <label for="desc">Description</label>
            <textarea class="form-control" name="description" id="desc" aria-describedby="itemDescription" placeholder="Enter Description"></textarea>
          </div>
          {% if categoryName == 'default' %}
            <label class="mr-sm-2" for="inlineFormCustomSelectPref">Category</label>
              <select name="categoryName" class="custom-select mb-2 mr-sm-2 mb-sm-0" id="inlineFormCustomSelectPref">
                {% for category in categories %}
                    <option value="{{category.name}}" {% if category.name == categoryName %}selected{%endif%}>{{category.name}}</option>
                {% endfor %}
            </select><br>
          {% endif %}
          <button type="submit" class="btn btn-primary btn-lg">Save</button>
          <a href="{{url_for('categoryDisplay',categoryName=categoryName)}}">Cancel</a>
        </form>
      </div>
    </div>
  </body>
</html>
