<!doctype html>
<html lang="en">
  <head>
    <title>Catalog App</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link rel=stylesheet type=text/css href="{{url_for('static', filename='style.css')}}">
    <script src="https://apis.google.com/js/platform.js?onload=start"> </script>
    <!--meta name="google-signin-client_id" content="13140951618-15nik769cellkubaqnjk5facdib2dh4d.apps.googleusercontent.com"-->
    <script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
  </head>
  <body>
    <div class="container">
      <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="/">Catalog App</a>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            {% if session.logged_in %}
              Welcome,{{session.username}} <a class="nav-link" href="{{url_for('oauthDisconnect')}}">Logout</a>
            {% endif %}
          </li>
        </ul>
      </nav>
      {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
          {% for category,message in messages %}
            <div class="alert alert-{{category}} alert-dismissible fade show" role="alert">
              {{ message }}
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
          {% endfor %}
        {% endif %}
      {% endwith %}
      <div class="jumbotron">
        <h1 class="display-4">Login</h1>
        <div id="signinButton">
          <span class="g-signin"
            data-scope="openid email"
            data-clientid="{{client_id}}"
            data-redirecturi="postmessage"
            data-accesstype="offline"
            data-cookiepolicy="single_host_origin"
            data-callback="signInCallback"
            data-approvalprompt="force">
          </span>
        </div>

        <div id="result"></div>

      </div>
      <!--NEW GOOGLE SIGN IN CODE -->
      <script>
      function signInCallback(json) {
        console.log('inside callback fuction');
        console.log(json);
        // authResult = JSON.parse(json);
        authResult = json;
        if (authResult['code']) {
          // Hide the sign-in button now that the user is authorized, for example:
          $('#signinButton').attr('style', 'display: none');
            $('#result').html('One-Time Auth Code:</br>'+ authResult['code'] + '')
          // Send the code to the server
          $.ajax({
            type: 'POST',
            url: '/oauth/google?state={{STATE}}',
            processData: false,
            data: authResult['code'],
            contentType: 'application/octet-stream; charset=utf-8',
            success: function(result) {
              // Handle or verify the server response if necessary.
              if (result) {
                $('#result').html('Login Successful!</br>')
                window.location = '/'
              } else if (authResult['error']) {
                console.log('There was an error: ' + authResult['error']);
              } else {
                $('#result').html('Failed to make a server-side call. Check your configuration and console.');
              }
            }
          });
        }
      }
      </script>
    </div>
    </div>
  </body>
</html>
